@import "../../variables.scss";

.form_container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;


  h2 {
    @include font-clamp(large);
    padding-bottom: 1.5rem;
  }

  .book_form {
    width: 500px;
    border: 2px solid $border-color;
    border-radius: 0.25rem;
    padding: $padding-medium;

    @include respond-to(mobile) {
      width: 100%;
    }
  }

  .form_subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-small;
    padding-bottom: $padding-medium;
    img {
      width: 3rem;
      height: auto;

      @include respond-to(mobile) {
        display: none;
      }
    }
    h3 {
      color: $primary-color;
      font-size: clamp(1.125rem, 3vw, 1.5rem);
    }
  }

  .form_field {
    margin-bottom: 1.5rem;

    input {
      width: 100%;
      padding: 0.8rem;
      border: 2px solid $border-color;
      border-radius: 0.25rem;
    }
  }

  .submit_btn {
    background-color: $primary-color;
    color: $text;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
}
