.home {
  max-width: 100%;
  background: url("../../assets/RedeDeDoação.png") no-repeat center center;
  background-size: cover;
  height: 65vh;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 65vh;
  padding: 0 2.5rem;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
  }

  h1 {
    font-size: clamp(1.75rem, 6vw, 3rem);
    color: white;
    text-align: left;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
}

.container_doar {
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: auto;

  h2 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    color: #005695;
    padding-bottom: 2.5rem;

    @media screen and (max-width: 768px) {
      text-align: center;
      padding-bottom: 1.5rem;
    }
  }

  .container_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1rem;

    @media screen and (min-width: 768px) and (max-width: 1023.98px) {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      background: #b3cddf;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: auto;
      height: 101%;
      padding: 1rem;
      border-radius: 0.25rem;
      margin: auto;

      @media screen and (max-width: 767.98px) {
        width: auto;
      }

      img {
        width: 80px;
        height: auto;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          width: 60px;
        }
      }

      p {
        font-size: clamp(1rem, 2vw, 1.25rem);
        color: black;
        text-align: center;
      }
    }
  }
}
