@import "../../variables.scss";

.home {
  max-width: 100%;
  background: url("../../assets/RedeDeDoação.png") no-repeat center center;
  background-size: cover;
  height: 40vh;
}

.container {
  display: flex;
  align-items: center;
  max-width: $max-width;
  height: 40vh;
  padding: 0 $padding-large;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0 $padding-small;
    justify-content: center;
  }

  h1 {
    @include font-clamp(xx-large);
    color: $text;
    text-align: left;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
}

.container_doar {
  max-width: $max-width;
  padding: $padding-large $padding-small;
  margin: auto;

  h2 {
    @include font-clamp(x-large);
    color: $primary-color;
    padding-bottom: $padding-large;

    @media screen and (max-width: 768px) {
      text-align: center;
      padding-bottom: $padding-medium;
    }
  }

  .container_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: $gap-small;

    @media screen and (min-width: 768px) and (max-width: 1023.98px) {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      background: #b3cddf;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap-small;
      width: 99%;
      height: 101%;
      padding: $padding-small;
      border-radius: $border-radius-small;
      margin: auto;

      @media screen and (max-width: 767.98px) {
        width: 90%;
      }

      img {
        width: 80px;
        height: auto;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          width: 60px;
        }
      }

      p {
        @include font-clamp(small);
        color: $text-dark;
        text-align: center;
      }
    }
  }
}
