@import "../../variables.scss";

.contato {
  background: linear-gradient(90deg, $secondary-color, $primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-large;
  padding: $padding-medium;

  @include respond-to(mobile) {
    justify-content: center;
    gap: $gap-small;
    flex-direction: column;
  }

  h3 {
    @include font-clamp(small);
    color: $text;
  }

  .rede_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-small;

    img {
      width: 24px;
      height: auto;
    }
  }
}

.direitos {
  background: $background-color;
  color: $text;
  text-align: center;
  padding: $padding-medium;
  @include font-clamp(small);
}
