@import "../../variables.scss";

.doados {
  max-width: $max-width;
  padding: 0 $padding-medium;
  margin: auto;
  text-align: center;
  height: 100vh;

  h2 {
    @include font-clamp(x-large);
    padding-top: $padding-small;
  }
}

.livros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  place-items: center center;
  gap: $gap-medium;
  padding: $padding-medium $padding-small;

  .livro_card {
    display: flex;
    flex-direction: column;
    place-content: center center;
    border-radius: 0.25rem;
    border: 2px solid $border-color;
    padding: $padding-small 0;
    width: 230px;
    height: 230px;

    @include respond-to(mobile) {
      width: 60%;
      height: auto;
    }

    img {
      margin-bottom: $gap-small;
      @include respond-to(mobile) {
        width: 50%;
        height: auto;
      }
    }

    h3 {
      @include font-clamp(medium);
      margin-bottom: $gap-small;
      font-style: italic;
    }
    span {
      @include font-clamp(small);
    }

    p {
      @include font-clamp(small);
      margin-top: 0.1rem;
    }
  }
}
